.container
  .col-md-6.col-md-offset-2
    .rows-action-block
      %h2.text-center.heading-font
        All teachers
      - @teachers.order(:name).each do |t|
        %ul.action-block
          .col-md-6
            .li
              %b
                =t.name
          .col-md-5.col-md-offset-1
            .li
              = link_to({:controller => :teachers, :action => :show, :id => t.id}, :method => :get, :class => 'icon-left visit-button') do
                %span
                  Visit profile
        %hr