%h1 New semester

= form_for [:admin, @university, @faculty, @specialty, @group, @semester] do |s|
	= s.label "Add semester"
	= s.select :sem_number, options_for_select: [1, 2, 3, 4, 5, 6, 7]
	= s.submit