.container
  .row
    .col-md-6.col-md-offset-3
      %h2.text-center.heading-font.heading-font-title
        Welcome to your personal
      %h2.text-center.heading-font
        Timetable Manager
      %ul.log-class
        %li.btn.btn-default
          = link_to(teacher_session_path, :method => :post, :class => "icon-left teacher-button") do
            %span
              Sign in as Teacher
        %li.btn.btn-default.list
          = link_to(scholar_session_path, :method => :post, :class => "icon-left student-button") do
            %span
              Sign in as Student
      


