.heading-font{
	margin-top: 30px;
	margin-bottom: 60px;
	color: $logo_font_color;

	&.heading-font-form{
		margin-bottom: 30px;
	}

	&.heading-font-title{
		margin-bottom: 0px;
	}

	&.heading-font-table{
		font-size: 15px;
	}

}

.log-class{
	li{
		display: inline-block;
	}

	.list{
		margin-left: 85px;
	}
}

.icon-left{

	&:before{
		content: "";
		width: 24px;
		height: 24px;
		display: inline-block;
		margin: auto;
		float: left;
		margin-right: 5px;
	}

	&.teacher-button{
		&:before{
			background-image: asset-url('teacher.png');
		}
	}

	&.student-button{
		&:before{
			background-image: asset-url('student.png');
		}
	}

	&.timetable-button{
		&:before{
			background-image: asset-url('timetable.png');
		}
	}

	span{
		font-size: 18px;
		color: $general_font_color;
		font-family: $font_lato;
	}
}

a{
	text-decoration: none !important;
}