.navbar{
	min-height: $header_height;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid;
}

.navbar-default{
	background-color: $header_color;
	border-color: $border_color;

	.navbar-brand{
		color: $logo_font_color;	
		font-family: $font_logo;
		line-height: 40px;
		font-size: 36px;
		height: $header_height;
		padding: 20px 15px;

		&.icon-header{
	
			&:before{
				content: "";
				background-image: asset-url('header-icon.png');
				width: 32px;
				height: 32px;
				background-repeat: no-repeat;
			}
		}
	}
 
	// .navbar-nav{

	// 	.open{
	// 		a{
	// 			background-color: initial;

	// 			&:hover{
	// 				background-color: initial;
	// 			}

	// 			&:focus{
	// 				background-color: initial;
	// 			}

	// 		}

	// 	}

	// } 
}

