%footer.footer-default
  .container
    .row
      .copyright-wrapper
        %p.copyright-info
          %span.brand-name.footer-icon inClass
          was built by 
          %b
            Gina Gusan
        %p.copyright-info Copyright &copy 2016